.user-avatar {
  
  &__image {
    display: block;
    width: 100%;
    cursor: pointer;
  }
  
  &__btns:after {
    content: "";
    display: table;
    clear: both;
  }
  
  &__btns > * {
    float: left;
    width: 50%;
  }
  
  input[type="file"] {
    display: none;
  }
}